* {

    margin: 0;
    border: 0;
    box-sizing: border-box;
    
}

.App{
    margin: 20px;
    text-align: center;
}
.search-input{
    width: 500px;
    margin: 50px;
    padding: 5px;
    border: 1px solid black;
    
    
}